.menu_simple ul {
	margin: 0;
	padding: 0;
	padding-top: 80px;
	width: 200px;
	list-style-type: none;	
	font-family: Avenir, Helvetica, sans-serif;
	color: #ffffff;
}

.menu_simple ul li{
	margin: 0px;
	/* border-bottom: 1px solid #E4E4E4; */	
}

.menu_simple ul li a {
	text-decoration: none;
	/* color: #4B5265; */
	color: #0079C2;
	padding: 18px 11px;	
	display: block;
	font-size: 15px;
	font-family: Avenir, Helvetica, sans-serif;
	
}

.menu_simple ul li a:hover, .menu_simple ul li .current {
	color: #5e9e0f;
	border-left: 7px solid #0079C2;
}




